[submodule "tests/drlvm/drlvm-vts-bundle"]
	path = tests/drlvm/drlvm-vts-bundle
	url = git://github.com/robovm/drlvm-vts-bundle.git
[submodule "soot"]
	path = soot
	url = https://github.com/ashleyj/soot
	ignore = dirty
[submodule "vm/libatomic_ops"]
	path = vm/libatomic_ops
	url = https://github.com/ivmai/libatomic_ops.git
[submodule "vm/extgc"]
	path = vm/extgc
	url = git://github.com/robovm/bdwgc.git
[submodule "llvm/extllvm"]
	path = llvm/extllvm
	url = git://github.com/robovm/llvm.git
[submodule "llvm/extclang"]
	path = llvm/extclang
	url = git://github.com/robovm/clang.git
